@charset "utf-8";

/* variables    -------------  */
:root {
    --primary-color: #24b4d7;
    --alpha-40: rgba(255, 255, 255, 0.4);
}

/* reset -------------------- */

body {
    font-family: "Noto Sans TC", serif;
}

img {
    vertical-align: bottom;
}

/* header ---------------- */

.header {
    /* background-color: pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-head,
.header-body,
.header-foot {
    padding: .5rem .7rem;
}

.header-foot {
    display: none;
}

.header-fixed {
    position: fixed;
    z-index: 10;
    width: 100%;

}

/* nav ------------------ */

.nav-ul {
    display: flex;
    gap: 10px;
}

.nav-link {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-btnWrap {
    display: none;

}

/* banner ---------------- */
.banner {
    position: relative;
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-head {
    z-index: 2;
    color: var(--primary-color);
    position: relative;
    /* background: rgba(255,255,255,0.5); */
    padding: 5rem;
    /* line-height: 70px; */
    text-align: center;
    background-image: linear-gradient(-45deg,
            var(--alpha-40) 0%,
            var(--alpha-40) 25%,
            transparent 26%,
            transparent 50%,
            var(--alpha-40) 51%,
            var(--alpha-40) 75%,
            transparent 76%,
            transparent 100%);
    background-size: 7px 7px;
}

.banner-body {
    position: absolute;
    width: 100%;
    top: 0;
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: center;
}

.banner-subtitle {
    font-size: 2rem;
    font-weight: 500;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.banner-description {
    font-size: 2rem;
    font-weight: 400;
}

.animate-cycle .banner-img {
    opacity: 0;
    animation-name: fade;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.animate-cycle .banner-img:nth-child(1) {
    animation-delay: 0s;
}

.animate-cycle .banner-img:nth-child(2) {
    animation-delay: 5s;
}

.animate-cycle .banner-img:nth-child(3) {
    animation-delay: 10s;
}

.animate-cycle .banner-img:nth-child(4) {
    animation-delay: 15s;
}

/* .animate-cycle:hover .banner-img {
    animation-play-state: paused;
  } */

@keyframes fade {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    30% {
        opacity: 0;
    }
}

.ani-blend-color {
    animation-name: blend-color;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes blend-color {
    0% {
        color: #fff;
    }

    5% {
        color: var(--primary-color);
    }

    50% {
        color: var(--primary-color);
    }

    55% {
        color: #fff;
    }

    100% {
        color: #fff;
    }
}